adbc_driver_manager==1.11.0
adbc_driver_postgresql==1.11.0
adbc_driver_sqlite==1.11.0
anywidget==0.11.0
api_client==1.3.1
AppKit==0.2.8
apport_python_hook==0.1.0
atheris==3.0.0
beautifulsoup4==4.14.3
bokeh==3.9.0
boto3==1.43.14
botocore==1.43.14
brotli==1.2.0
brotlicffi==1.2.0.1
ca_certs_locater==1.0
chardet==7.4.3
colorama==0.4.6
ConfigParser==7.2.0
cudf==0.6.1.post1
cupy==14.1.0
cycler==0.12.1
Cython==3.2.5
dask_expr==2.0.0
defusedxml==0.7.1
dl==0.1.0
docutils==0.22.4
duckdb==1.5.3
email_validator==2.3.0
eval_type_backport==0.3.1
fastapi_cli==0.0.24
fastparquet==2026.5.0
filelock==3.29.0
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2026.4.0
gitdb_speedups==0.1.0
grpc_reflection==1.0.0
grpc_tools==1.0.0
gspread==6.2.1
h2==4.3.0
HTMLParser==0.0.2
huggingface_hub==1.16.1
hypothesis==6.152.9
ibis==3.3.0
importlib_metadata==8.7.1
importlib_resources==7.1.0
ipython==8.12.3
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous==2.2.0
jnius==1.1.0
JPype1==1.7.1
jsonpath_ng==1.8.0
jsonpointer==3.1.1
keyring==25.7.0
lxml==6.1.1
matplotlib==3.10.9
mcp==1.27.1
modin==0.37.1
mtrand==0.1
multidict==6.7.1
multipart==1.3.1
numarray==1.5.1
Numeric==24.2
numexpr==2.14.1
oauth2client==4.1.3
odfpy==1.4.1
olefile==0.47
openpyxl==3.1.5
ordereddict==1.1
orjson==3.11.9
outcome==1.3.0.post0
pickle5==0.0.12
polars==1.41.0
psutil==7.2.2
py==1.11.0
pycares==5.0.1
pycurl==7.46.0
PyInstaller==6.20.0
pyOpenSSL==26.2.0
pyperf==2.10.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.11.0
PySide6==6.11.1
pyspark==4.1.2
pytest==9.0.3
python_bcrypt==0.3.2
python_calamine==0.6.2
python_multipart==0.0.29
python_socks==2.8.1
pyu2f==0.1.5
pyxlsb==1.0.10
PyYAML==6.0.3
qtpy==2.4.3
railroad==0.5.0
redis==7.4.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rfc3987_syntax==1.1.0
s3fs==2026.4.0
scikit_learn==1.8.0
scipy==1.17.1
sentencepiece==0.2.1
sets==0.3.2
setuptools_scm==10.0.5
simplejson==4.1.1
skimage==0.0
slack_sdk==3.42.0
sniffio==1.3.1
snowflake==1.12.0
socksio==1.0.0
speedups==2.1.0
Sphinx==9.1.0
SQLAlchemy==2.0.50
sqlframe==4.2.0
sqlparse==0.5.5
statsmodels==0.14.6
sympy==1.14.0
tables==3.11.1
thread==2.0.6
threadpoolctl==3.6.0
traitlets==5.15.0
ujson==5.12.1
uri_template==1.3.0
urllib3_secure_extra==0.1.0
uvloop==0.22.1
vegafusion==2.0.3
vincent==0.4.4
webcolors==25.10.0
Werkzeug==3.1.8
winloop==0.6.3
xarray==2026.4.0
xlrd==2.0.2
xlsxwriter==3.2.9
xmlrpclib==1.0.1
zstandard==0.25.0
